

body {
    font-family: Arial, sans-serif;
    margin: 0;
 
}

*{
    margin: 0px;
    padding: 0px;
}


.first{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 2%;
    margin-top: 7%;
    margin-right: 10%;
}
.paragraph{
    width: 53%;
    align-items: center;

}
.paragraph p{
    font-size: 17px;
    line-height: 30px;
    font-family: Roboto;
    color: #444444;

    
}
.paragraph h1{
    font-family: Neusharp;
}
.picture{
    width: 45%;
    margin-top: 40px;
}
.picture img{
    width: 100%;
}


@media (width <= 768px) {
    .first{
        display: flex;
       flex-direction: column-reverse;
    }
    .paragraph{
        width: 100%;
        align-items: center;
      
    
    }
    .picture img{
        width: 350px;
        margin-bottom: 20px;
        margin-left: -10px;

    }
  
}


@media (width <= 428px) {
    .first{
        display: flex;
       flex-direction: column-reverse;
    }
    .paragraph{
        width: 100%;
        align-items: center;
      
    
    }
    .picture img{
        width: 350px;
        margin-bottom: 20px;
        margin-left: -10px;

    }
  
}


.navbarr {
     margin-top: 6%;
    overflow: hidden;
    margin-left: 6%;

}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.nav-item {
    margin: 0 15px;
}

.nav-item a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}



.nav-item a:hover::after,
.nav-item.active a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
 
    background-color:#9A0B70;
    bottom: 0;
    left: 0;
}


.nav-item a:hover{
    color:#9A0B70;
}
.nav-item.active a {
   
    color:#9A0B70;

}
.nav-item li{
    position: relative;
}

.story{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

@media (width <= 768px) {
    .navbar{
        width: 100%;
    }
    .nav-item a{
        padding: 0px 0px;
        font-size: 12px;
    }
    
}

@media (width <= 1080px) {
    .navbar{
        width: 100%;
    }
    .nav-item a{
        padding: 0px 0px;
        font-size: 12px;
    }
    
}


.container {
    /* text-align: center; */
}






/* Section partner-------------------- */
.partner{
    width: 70%;
  margin-left: 15%;
    align-items: center;

}
.servicepartner{
    background-color: #423F56;
 height: 70vh;
 width: 100%;
}
.Associations{
    height: 70vh;
    width: 100%;
    background-color: aqua;
}
/* Section partner  end-------------------- */


/* our Story Section---------------------- */


 
.story p{
    color: #5F5F5F;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    text-align: start;
    font-family: Roboto;
    font-size: 20px;
    }
    .story h1{
        font-family: Neusharp;
        font-size: 50px;
    }
    
    @media (max-width:1080px) {
        .story p{
            width: 92%;
            margin-left: 5%;
        }
    }


   @media (width <= 768px) {
    .carousal{
     
        height: 55vh;
        width: 100%;
    }
    .carousel-item img{
        height: 400px;
        width: 100%;
       }
   }
.vision{
    height: 37vh;
    width: 135%;
    margin-left: -18%;
    margin-top: 10%;
    background: linear-gradient(to right, #bc005b, #4528a5);
}
.mission{
    height: 37vh;
    width: 135%;
    margin-left: -18%;
   
}
.vision p{
    margin-left: 18%;
    width: 70%;
    margin-top: 30px;
    font-size: 22px;
    color: white;
    font-family: Roboto;
 
}
.vision h1{
    margin-left: 18%;
  padding-top:28px ;
  color: white;
  font-family: Neusharp;
  font-size: 50px;

}
.mission p{
    margin-left: 18%;
    width: 70%;
    margin-top: 30px;
    font-size: 22px;
    font-family: Roboto;
}
.mission h1{
    margin-left: 18%;
    padding-top:28px ;
    font-family: Neusharp;
    font-size: 50px;
  
}
/* @media (width <= 1980px) {
    .vision{
        height: 34vh;
        width: 136%;
     
        margin-top: 10%;
 
    }
    .mission{
        height: 34vh;
        width: 136%;
     
       
    }
    .vision p{
       width: 80%;
        margin-top: 30px;
        font-size: 22px;
     
     
    }
    .mission p{
 
        width: 80%;
        margin-top: 30px;
        font-size: 22px;
    }
 
    
} */
@media (width <= 1080px) {
    .vision{
        height: 70vh;
        width: 136%;
     
        margin-top: 10%;
 
    }
    .mission{
        height: 70vh;
        width: 136%;
     
       
    }
    .vision p{
       width: 80%;
        margin-top: 30px;
        font-size: 22px;
     
     
    }
    .mission p{
 
        width: 80%;
        margin-top: 30px;
        font-size: 22px;
    }
 
    
}
@media (width <= 768px) {
    .vision p{
        margin-left: 10%;
        width: 90%;
        margin-top: 30px;
        font-size: 22px;
    }
    .vision{
        margin-left: -4px;
        width: 107%;
        margin-top: -24%;
    }
    .mission p{
        margin-left: 5%;
        width: 90%;
        margin-top: 30px;
        font-size: 20px;
    }
    .mission{
        margin-left: 2px;
        width: 107%;
    }
  
}

@media (width <= 450px) {
    .vision p{
        margin-left: 10%;
        width: 90%;
        margin-top: 30px;
        font-size: 22px;
    }
    .vision{
        margin-left: -4px;
        width: 107%;
        margin-top: -76%;
    }
    .mission p{
        margin-left: 5%;
        width: 90%;
        margin-top: 30px;
        font-size: 22px;
    }
    .mission{
        margin-left: 2px;
        width: 107%;
    }
  
}
.culture{
    height: 70vh;
    width: 135%;
    margin-left: -18%;
    /* background-color: #f05443; */
    background: linear-gradient(to right, #bc005b, #4528a5);

}
.culture p{
    margin-left: 18%;
    width: 70%;
    margin-top: 30px;
    font-size: 22px;
    color: white;
    font-family: Roboto;
   
}
.culture h1{
    margin-left: 18%;
    padding-top:50px ;
    color: white;
    font-family: Neusharp;
    font-size: 50px;
}
.cultureChild{
    height: 112vh;
    width: 93%;
  position: relative;
  left: 5%;
top: -173px;
  z-index: 2;
    background-color:#FFFFFF;
    box-shadow: 2px 1cap 10px 2px rgba(101, 102, 103, 0.392);
 border-radius: 5px;
 /* border: 1px solid black; */
    
}
.box{
    margin-top: 25px;
    margin-left: 48px;

    

}
.box p{
    font-family: Roboto;
}
.box1 h3{
    font-family: Neusharp;
    font-size: 30px;
}
.box1{
    background-color: white;

    height: 250px;
    width: 250px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    


}

.box1 img{
    height: 60px;

}
.box123{
    display: flex;
}
.rest{
    display: flex;
}

/* @media (width <= 1980px) {
    .culture{
        height: 49vh;
        width: 136%;
 
    
    
    }
    .cultureChild{
        margin-top:12%;
        width: 114%;
        left: -6%;
        height: 107vh;
    }
    .box{
        height: 100vh;
        width: 99%;
        margin-left: -19px;
       
    }
    .box1{
        margin-bottom: 20px;
        width: 26%;

    }
    .box1 p{
     font-size: 18px;
        
    }
}  */


@media (width <= 1080px) {
    .culture{
        height: 115vh;
        width: 136%;
 
    
    
    }
    .cultureChild{
        margin-top:15%;
        width: 114%;
        left: -6%;
        height: 190vh;
    }
    .box{
        height: 100vh;
        width: 99%;
        margin-left: -19px;
       
    }
    .box1{
        margin-bottom: 20px;
    }
} 


 @media (width <= 1080px) {
    .brand{
      position: relative;
      top: -134px;
      left: 1%;
    }
   .img1 img{
  width: 50%;

   }
   .imagee{
   width: 100%;
   }
}
@media (width <= 768px) {
    .box123{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .rest{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .cultureChild{
        height: 232vh;
        width: 95%;
        margin-left: 71px;
        margin-top: -13%;

    }
    .box{
        margin-left: -10%;
    }
    .culture{
        margin-left: -20px;
        width: 122%;
        height: 100vh;
    }
    .box1 p{
        font-size: 22   px;
    }
}


@media (width <= 450px) {
    .box123{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .rest{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .cultureChild{
        height: 222vh;
        width: 99%;
        margin-left: 34px;
        margin-top: -23%;

    }
    .box{
        margin-left: -10%;
    }
    .culture{
        margin-left: -4px;
        width: 107%;
    }
    .box1{
        width: 50%;
    }
}
.brand{
    align-items: center;
    margin-top: 1%;
    text-align: center;
 
}
.brand p{
    width: 80%;
    margin-left: 11%;
    font-size: 20px;
    font-family: Roboto;
}
.brand h1{
    font-family: Neusharp;
    font-size: 55px;
}
.imagee{
    display: flex;
    justify-content: center;
}
.img1 img{
    height: 55px;
    /* margin-left: 30px; */
}

@media (width <= 768px) {
.imagee{
    display: flex;
    flex-direction: column;
}
.img1 img{
    height: 310px;
}
.brand{
   width: 100%;
   margin-left: 0%;
    margin-top:55%;
}
.brand p{
    width: 100%;
    margin-left: -0px;
    padding-left: 10px;
    font-family: Roboto;
    
}
}



.slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 5); /* Adjust based on the number of slides */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

.prev, .next {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: white;
}

@media screen and (width <= 768px) {
    .slider {
        width: 100%;
    }
    .dots {
        text-align: center;
        position: absolute;
        bottom: 29%;
        width: 100%;
    }
}
@media screen and (width <= 450px) {
    .slider {
        width: 100%;
    }
    .dots {
        text-align: center;
        position: absolute;
        bottom: 55%;
        width: 100%;
    }
}

.slider{
    /* background-color: #1b1919; */
    height: 80vh;
    width: 100%;
    margin-left: 7px;
    margin-top: 20px;
}
.carousel-item img{
    height: 600px;

   }




   /* questions===================== */

.question{
    background: linear-gradient(to right, #bc005b, #4528a5);
    height: 70vh;
    width:138%;
    position:relative;
    margin-top: -6%;
   left: -20%;
   
}

.question h1{
    margin-top: 65px;
    padding-top: 30px;
    margin-left: 10%;
    color: white;
    font-family: Neusharp;
}
.question p{
    margin-left: 10%;
    margin-top: 55px;
    width: 70%;
    color: white;
    font-size: 18px;
    font-family: Roboto;
}
  

@media (width <= 768px) {
.question{
    position: relative;
    top: 231%;
    width: 105%;
    left: -8px;
    /* margin-left: -7px; */
}
    }

    @media (width <= 428px) {
        .question{
            position: relative;
            top: 231%;
            width: 105%;
            left: -3px;
            /* margin-left: -7px; */
        }
            }
.questionBox{
    height: 90vh;
    width: 67%;
  position: relative;
  left: 21%;
top: -200px;

    background-color:#FFFFFF;
    box-shadow: 2px 1cap 10px 2px rgba(101, 102, 103, 0.392);
 border-radius: 5px;
 /* border: 1px solid black; */
    
}
.qbox{
    margin-top: 25px;
    margin-left: 48px;

    

}
.questionBox p{
font-family: Roboto;
}
.questionBox h3{
    font-family:Neusharp;
    }
.qbox1{
    background-color: white;

    height: 250px;
    width: 250px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.qbox1 img{
    height: 60px;

}
.qbox123{
    display: flex;
}
.qrest{
    display: flex;
}


@media (width <= 1080px) {
    .question{
        margin-top: 8%;
        
        height: 120vh;
    }

   
    .questionBox{
        height: 160vh;
        width: 103%;
        margin-left: -24%;
        margin-top: 10%;

    }
  
.Clientele{
    margin-top: 1%;
    
}


}



@media (width <= 1080px) {
 
  
.Clientele{
  height: 150vh;
    
}


}
@media (width <= 768px) {
    .qbox123{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .qrest{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .questionBox{
        height: 144vh;
        width: 98%;
        margin-left: -121px;
        margin-top: -49%;

    }
    .qbox{
        margin-left: -10%;
    }
   
}
@media (width <= 450px) {
    .qbox123{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .qrest{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .questionBox{
        height: 140vh;
        width: 98%;
        margin-left: -65px;
        margin-top: -35%;

    }
    .qbox{
        margin-left: -10%;
    }
   
}


.Clientele{
    width: 139%;
    height: 100%;
    background-color:#262531;
    margin-left: -21%;
    position: relative;
    top: 0px;
   text-align: center;
 
}


.Clientelee h1{
    color: white;
    margin-top: 5%;
    padding-top: 50px;
    font-family: Neusharp;
}
.imgg1 img{
width: 150px;
/* background-color: #FFFFFF; */
}
.imggg{
    margin-top: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: .3fr .3fr .3fr .3fr;
    grid-template-rows: .2fr .2fr .2fr .2fr;
}


@media (width <= 768px) {
.Clientele{
  margin-top: -18%;
  margin-left: -31px;
  width: 100vw;
  height: 170vh;
}

    .imggg{
        margin-left: 10%;
        grid-template-columns: .2fr .2fr;
        grid-template-rows: .2fr .2fr .2fr .2fr;
    }
   
    

}

@media (width <= 450px) {
    .Clientele{
      margin-top: -18%;
      margin-left: -10px;
      width: 100vw;
      height: 170vh;
    }
    
        .imggg{
            margin-left: 10%;
            grid-template-columns: .2fr .2fr;
            grid-template-rows: .2fr .2fr .2fr .2fr;
        }
       
        
    }

@media (max-width:1080px) {
   
}

/* 
Galette for sub heading  h2
Neusharp for heading h1
Roboto for writeup text */

.section5{
    width: 100%;
}
.hh{

}


.Clientelee{
    width: 100%;
    height: 100%;
    background-color:#262531;
   
    position: relative;
    top: 276%;
   text-align: center;
 
}
.Clientele h1{
    font-family: Neusharp;
    padding-top: 40px;
    color: white;
    font-size: 55px;
}


.side-section p{
    font-family: Roboto;
}
.side-section h2{
    font-family: Neusharp;
    font-size: 40px;
   
}














nav {
    background-color: #000958; 
    opacity: 0.8;
    height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures navbar stays on top */
    color: #302859;
}
.navb{
    color: #000958;
}

label.logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust the width as needed */
    height: auto;
    z-index: 10;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #17dfb9;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

nav a.active,nav a:hover {
    text-decoration: underline;
    
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
   
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .logo {
      width: 100px; /* Smaller size for smaller screens */
    }
    nav{
        width: 103%;
    }
  }

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        justify-content: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* side bar start */


.side-section {
    display: none; /* Hide all sections by default */
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 5%;

}

.side-section.active {
    display: block; /* Show active section */
}

        .side-container {
    display: flex;
    /* flex: 1; */
}

.sidebar {
    width: 200px;

    padding: 20px;
   
    height: 100%;
    /* position: fixed; */
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-link {
    text-decoration: none;
    color: #333;
    padding: 30px 5px;
    display: block;
    position: relative;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover::before,
.sidebar-link.active::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #9A0B70;;
}

.side-content {
    flex: 1;
    padding: 20px;
    margin-left: 200px;
}

.side-section{
    width:70%;
   
    }
.side-section img{
width: 400px;

}

.side-section img{
   margin-top: 30px;
   margin-bottom: 30px
    
    }

  .side-container{
    margin-left: 10%;
  }

    @media screen and (max-width: 768px) {
        .side-content{
            margin-left: -16%;
                  }
                  .side-section img{
                    width: 300px;
                    
                    }
                   .side-container{
                    display: flex;
                    flex-direction: column;
                   } 
                   .side-section {
                    width: 100%;
                   }
    }


    @media screen and (max-width: 1080px) {
        .side-content{
            margin-left: 0%;
                  }
                  .side-section img{
                    width: 200px;
                    
                    }
                   .side-container{
                    /* display: flex;
                    flex-direction: column; */
                   } 
                   .side-section {
                    width: 100%;
                    margin-left: 10%;
                   }
    }






    /* .animated-element {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
    
    .animated-element.visible {
        opacity: 1;
        transform: translateY(0);
    } */





/* side bar end */






/* partener start  */

.Leader{
   
    margin-bottom: 5%;
    
}
.Leader h1{
    font-size: 55px;
    text-align: center;
    font-family:Neusharp;
}
.lead{
    margin-top: 7%;
}
.line1{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image1 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: aqua;
   

}
.line2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image2a{
    padding: 20px;
    text-align: center;
    margin-left: 100px;
 
}
.image22{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: aqua;
    margin-left: 20px;
}
.image2b{
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}
.image2a img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image2b img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.line3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image3a{
    padding: 20px;
    text-align: center;
    margin-left: 73px;
}
.image3b{
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}
.image3a img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image3b img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.partner h1{
    font-family:Neusharp;
    font-size: 55px;
    text-align: center;
    margin-top: 5%;
}
.partner p{
  font-family: Roboto;
    font-size: 22px;
    margin-left: 0%;
    align-items: start;
}

.contact1{
    background-color:darkblue;
         float: left;
         width: 33.33%;
         color: white;
         padding: 0px;
         height: 100px;
         text-align: center;
         border-radius: 25px;
         border: 4px dotted black;
}
.contact2{
    background-color:darkblue;
         float: left;
         width: 33.33%;
         color: white;
         padding: 0px;
         height: 100px;
         text-align: center;
         border-radius: 25px;
         border: 4px dotted black;
}
.contact3{
    background-color:darkblue;
    float: left;
    width: 33.33%;
    color: white;
    padding: 0px;
    height: 100px;
    text-align: center;
    border-radius: 25px;
    border: 4px dotted black;
}
.servicepartner h1{
    font-family:Neusharp;
    color: white;
    margin-top: 5%;
    padding-top: 5%;
}
.servicepartner {
   
  
    text-align: center;
    background-color: #423f56;
    color:white;
    font-weight:bolder;
}
.spline2{
    font-family: "Open Sans", sans-serif;
    font-size: large;
    text-align: center;
    background-color: #423f56;
    color:white;
    font-weight:bolder;

}
.associations h1{
    font-family: Neusharp;
    font-size: 55px;
    margin-top: 5%;
    padding-top: 2%;
}
.associations{
  
 
    text-align: center;
    color:black;
   
    padding-bottom: 40px;
}
.asline2{
    font-family: poppins;
    font-size: large;
    text-align: center;
    color:black;
    font-weight:bolder;
    padding-bottom: 40px;
}
@media (max-width: 450px){
    .line2{
        flex-direction: column;
    }
    .image2a{
        margin-right: 100px;
    }
    .image2b{
        margin-left: 100px;
    }
    .line3{
        flex-direction: column;
    }
    .image3a{
        margin-right: 100px;
    }
    .image3b{
        margin-left: 100px;
    }
    
}
@media (max-width: 450px){
    .partner p{
        margin-right: 15%;
    }
    .servicepartner h1{
        padding-top: 50px;
    }
    .partner h1{
        padding-top: 50px;
        font-size: 35px;
    }
    .servicepartner{
        margin-top: 60px;
    }
    .associations{
        margin-top: 60px;
    }
    
}
@media (max-width:1080px){
    .partner p{
        margin-right: 15%;
        width: 100%;
        
    }
    .servicepartner h1{
        padding-top: 50px;
    }
    .partner h1{
        padding-top: 50px;
        font-size: 35px;
    }
    .servicepartner{
        margin-top: 60px;
    }
    .associations{
        margin-top: 60px;
    }
}
.prtimg{
    margin-right: 40px;
}
@media(max-wdith:768px){
    .prtimg{
        margin-right: 400px;
    }
}
/* partener end */









footer {
    /* position: relative; */
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #000958;
    z-index: 80; /* Added z-index to ensure footer is below the navbar */
    /* margin-left: -9%; */
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
}

footer .container .sec p {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
}

footer .container .sci li {
    list-style: none;
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
}

footer .container .sci li a i {
    
    font-size: 25px;
}

footer .container .quicklinks h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .container .quicklinks ul li {
    list-style: none;
}

footer .container .quicklinks ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: medium;
}

footer .container .contact .info {
    list-style: none;
    position: relative;
}

footer .container .contact h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span {
    color:#17dfb9;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: #fff;
    text-decoration: none;
}

.copyrighttext {
    width: 100%;
    background: linear-gradient(to right, #bc005b, #4528a5);
    padding: 20px 100px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.copyrighttext a{
    text-decoration: none;
    color: white;
}
@media (max-width: 991px) {
    footer {
        padding: 40px;
        /* margin-top: 649%; */
        margin-left: 5px;
    }
    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrighttext {
        padding: 20px 40px 30px;
    }
    
}

@media (max-width: 768px) {
    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    /* .footer{
        margin-top: 100%;
    } */
}
