@import url('https://fonts.cdnfonts.com/css/neusharp');
@import url('https://fonts.cdnfonts.com/css/galette');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

.section {
    padding: 40px 0;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.testimonial img {
    width: 200px;
    height: auto;
    margin: 20px;
}

.testimonial-text {
    max-width: 600px;
    margin: 20px;
}

.testimonial-text p {
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
}

.testimonial-text .author {
    font-weight: bold;
    color: #333;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .container {
        flex-direction: column;
    }

    .testimonial-text, .testimonial img {
        max-width: 100%;
        margin: 10px 0;
    }
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background-color: #000958; 
    opacity: 0.8;
    height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures navbar stays on top */
    color: #000958;
}
.navb{
    color: #000958;
}

label.logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust the width as needed */
    height: auto;
    z-index: 10;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #17dfb9;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

a.active, a:hover {
    text-decoration: underline;
    
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
   
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .logo {
      width: 100px; /* Smaller size for smaller screens */
    }
  }

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        justify-content: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}



.banner-content {
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0;
    margin-top: 29px;
}

.text-content {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.text-content h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.btn {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.image-content {
    flex: 1;
    text-align: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1920px) {
    .text-content h1 {
        font-size: 2.2em;
    }

    .text-content p {
        font-size: 1.1em;
    }

    .btn {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
        order: 2;
    }

    .image-content {
        margin-top: 20px;
        order: 1;
    }

    .text-content h1 {
        font-size: 1.8em;
    }

    .text-content p {
        font-size: 1em;
    }

    .btn {
        font-size: 0.9em;
    }
}

@media (max-width: 428px) {
    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.8em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 77px;
    height: 77px;
    margin-bottom: 20px;
}

.grid-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Neusharp', sans-serif;

}

.grid-item p {
    font-size: 1em;
    color: #666;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1920px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item h2 {
        font-size: 1.4em;
    }

    .grid-item p {
        font-size: 0.95em;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item h2 {
        font-size: 1.3em;
    }

    .grid-item p {
        font-size: 0.9em;
    }
}

@media (max-width: 428px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item h2 {
        font-size: 1.2em;
    }

    .grid-item p {
        font-size: 0.85em;
    }
}

.section h1 {
    text-align: center; /* Centers the text horizontally */
}

.subtitle {
    font-size: 1.2em;
    color: rgb(184, 18, 161);
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.item {
    text-align: center;
    margin-bottom: 30px;
}

.item img {
    width: 77px;
    height: 77px;
    margin-bottom: 20px;
}

.item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Galette', sans-serif;
}

.item p {
    font-size: 1em;
    color: #666;
    font-family: "Roboto", sans-serif;
}

.center-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.center-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1920px) {
    .subtitle {
        font-size: 1.1em;
    }

    .item h3 {
        font-size: 1.4em;
    }

    .item p {
        font-size: 0.95em;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .column, .center-image {
        max-width: 100%;
    }

    .center-image {
        margin: 20px 0;
    }

    .why-choose-us h2 {
        font-size: 1.8em;
    }

    .subtitle {
        font-size: 1em;
    }

    .item h3 {
        font-size: 1.3em;
    }

    .item p {
        font-size: 0.9em;
    }
}

@media (max-width: 428px) {
    .why-choose-us h2 {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 0.9em;
    }

    .item h3 {
        font-size: 1.2em;
    }

    .item p {
        font-size: 0.85em;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #000958;
    z-index: 1; /* Added z-index to ensure footer is below the navbar */
}

footer .fcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .fcontainer .sec h2 {
    position: relative;
    color: #17dfb9;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
}

footer .fcontainer .sec p {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

footer .fcontainer .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
}

footer .fcontainer .sci li {
    list-style: none;
}

footer .fcontainer .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
}

footer .fcontainer .sci li a i {
    
    font-size: 25px;
}

footer .fcontainer .quicklinks h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .fcontainer .quicklinks ul li {
    list-style: none;
}

footer .fcontainer .quicklinks ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: medium;
}

footer .fcontainer .contact .info {
    list-style: none;
    position: relative;
}

footer .fcontainer .contact h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .fcontainer .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .fcontainer .contact .info li span {
    color: #17dfb9;
    font-size: 20px;
}

footer .fcontainer .contact .info li a {
    color: #fff;
    text-decoration: none;
}

.copyrighttext {
    width: 100%;
    background: #000958;
    padding: 20px 100px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.copyrighttext a{
    text-decoration: none;
    color: white;
}
@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .fcontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrighttext {
        padding: 20px 40px 30px;
    }
}

@media (max-width: 768px) {
    footer .fcontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.section {
    padding: 50px 20px;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black; /* Dark Blue */
    font-family: 'Neusharp', sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.explore-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    z-index: 1000;
    position: relative;
    margin-top: -150px;
    left: 0%;

}
.explore-cards .card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 50px;
    text-align: center;
    transition: none; /* Remove transition */
}

.explore-cards .card:hover {
    transform: none; /* Remove transform effect */
}

.explore-cards .card img {
    max-width: 100%;
    height: auto;
}
.card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 50px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100%;
    height: auto;
}

.services {
    padding: 50px 20px;
}

.services h2 {
    text-align: center;
    color: black; /* Dark Black */
    margin-bottom: 30px;
    font-family: 'Neusharp', sans-serif;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
    gap: 20px;
}

.service-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, border 0.3s;
    border: 2px solid transparent; /* Initial transparent border */
}

.service-card:hover {
    transform: translateY(-10px);
    border: 2px solid #d8649b; /* Pink border on hover */
}

.service-card img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.service-card h3 {
    color: black; /* Dark Black */
    margin-bottom: 10px;
    font-family: 'Galette', sans-serif;
}

.service-card p {
    color: #333;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .explore-cards{
        flex-direction: column;
        align-items: center;        
    }
    .explore-cards {
        position: static;
        transform: none;
        margin-top: 20px;
    }
    .services {
        padding: 40px 20px; /* Adjusted padding for medium screens */
    }
    .services h2 {
        font-size: 1.8rem;
    }
    .service-cards {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 428px) {
    .services {
        padding: 20px 10px; /* Adjusted padding for small screens */
    }
    .services h2 {
        font-size: 1.5rem;
    }
    .service-cards {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
    .service-card {
        padding: 15px;
    }
    .service-card h3 {
        font-size: 1.2rem;
    }
    .service-card p {
        font-size: 0.9rem;
    }
}

.banner-container {
    position: relative;
    
    color: #0082e6;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    height: 100vh; /* Ensure banner takes up full viewport height */
    background-image:cover;
    background-size: cover;
    background-position: center;
    display: flex;
}

.banner-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.banner-slide.active {
    
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start (left) */
    
}
.banner-content {
    position: absolute;
    left: 100px;
    
    transform: translateY(-50%);
    
    z-index: 2;
    max-width: 600px;
}

.banner-content h1{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #17dfb9;
}
.banner-content p {
    margin: 0;
    padding: 0;
    font-family: 'Neusharp', sans-serif;
    color: white;
    margin-top: 10px;
    
}


.banner-slide.active {
    display: block;
}
.banner-button {
    position: absolute;
    transform: translateX(-50%);
    background:#17dfb9;
    color: #000958;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@media (max-width: 1920px){
    .banner-content{
        top: 400px;
        
    }
    .banner-content h1 {
        font-size: 80px;
    }
    .banner-content p {
        font-size: 30px;
        
    }
    .banner-button{
    margin-top: 20px;    
    padding: 20px 30px;
    font-size: 20px;
    left: 100px;
    }
}

@media (max-width: 768px) {
    .banner-button {
        font-size: 16px;
        padding: 10px 16px;
        
    }
    
    .banner-content {
        left: 100px;
        bottom: 230px;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-content p {
        font-size: 25px;
        text-align: left;
    }
}

@media (max-width: 428px) {
    .banner-content{
        bottom: 0px;
        left: 45px;
    }
    .banner-button {
        font-size: 12px;
        padding: 6px 12px;
        
    }
    
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-content p {
        font-size: 25px;
        text-align: left;
    }
}
.customer-speak {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.customer-speak h2 {
    font-size: 2em;
    color: #d8649b;
}

.customer-speak h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 40px;
    font-family: 'Galette', sans-serif;
}

.testimonial-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial {
    display: none;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.testimonial.active {
    display: flex;
}

.testimonial img {
    width: 40%;
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}

.testimonial-content {
    width: 55%;
}

.testimonial-text {
    font-size: 2.0em;
    color: #333;
    margin-bottom: 20px;
}
.testimonial-para{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}
.testimonial-author {
    font-weight: bold;
    color: #666;
}

.testimonial-controls {
    margin-top: 20px;
}

.testimonial-controls button {
    background-color: #d8649b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.testimonial-controls button:hover {
    background-color: #a04870;
}

/* Media Queries */
@media (max-width: 1920px) {
    .testimonial-content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .testimonial {
        flex-direction: column;
        text-align: center;
    }

    .testimonial img {
        width: 80%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .testimonial-content {
        width: 100%;
    }

    .testimonial-text {
        font-size: 1em;
    }
    .testimonial-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 428px) {
    .testimonial img {
        width: 100%;
    }

    .testimonial-text {
        font-size: 0.9em;
    }

    .testimonial-controls button {
        font-size: 1em;
        padding: 8px 16px;
    }
    .testimonial-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

  

