
.Leader{
   
    margin-bottom: 5%;
    
}
.Leader h1{
    font-size: 55px;
    text-align: center;
    font-family:Neusharp;
}
.lead{
    margin-top: 7%;
}
.line1{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image1 img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: aqua;
   

}
.line2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image2a{
    padding: 20px;
    text-align: center;
    margin-left: 100px;
 
}
.image22{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: aqua;
    margin-left: 20px;
}
.image2b{
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}
.image2a img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image2b img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.line3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image3a{
    padding: 20px;
    text-align: center;
    margin-left: 73px;
}
.image3b{
    padding: 20px;
    text-align: center;
    margin-right: 100px;
}
.image3a img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image3b img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.partner h1{
    font-family:Neusharp;
    font-size: 55px;
    text-align: center;
    margin-top: 5%;
}
.partner p{
  font-family: Roboto;
    font-size: 22px;
    margin-left: 0%;
    align-items: start;
}

.contact1{
    background-color:darkblue;
         float: left;
         width: 33.33%;
         color: white;
         padding: 0px;
         height: 100px;
         text-align: center;
         border-radius: 25px;
         border: 4px dotted black;
}
.contact2{
    background-color:darkblue;
         float: left;
         width: 33.33%;
         color: white;
         padding: 0px;
         height: 100px;
         text-align: center;
         border-radius: 25px;
         border: 4px dotted black;
}
.contact3{
    background-color:darkblue;
    float: left;
    width: 33.33%;
    color: white;
    padding: 0px;
    height: 100px;
    text-align: center;
    border-radius: 25px;
    border: 4px dotted black;
}
.servicepartner h1{
    font-family:Neusharp;
    color: white;
    margin-top: 5%;
    padding-top: 5%;
}
.servicepartner {
   
  
    text-align: center;
    background-color: #423f56;
    color:white;
    font-weight:bolder;
}
.spline2{
    font-family: "Open Sans", sans-serif;
    font-size: large;
    text-align: center;
    background-color: #423f56;
    color:white;
    font-weight:bolder;

}
.associations h1{
    font-family: Neusharp;
    font-size: 55px;
    margin-top: 5%;
    padding-top: 2%;
}
.associations{
  
 
    text-align: center;
    color:black;
   
    padding-bottom: 40px;
}
.asline2{
    font-family: poppins;
    font-size: large;
    text-align: center;
    color:black;
    font-weight:bolder;
    padding-bottom: 40px;
}
@media (max-width: 450px){
    .line2{
        flex-direction: column;
    }
    .image2a{
        margin-right: 100px;
    }
    .image2b{
        margin-left: 100px;
    }
    .line3{
        flex-direction: column;
    }
    .image3a{
        margin-right: 100px;
    }
    .image3b{
        margin-left: 100px;
    }
    
}
@media (max-width: 450px){
    .partner p{
        margin-right: 15%;
    }
    .servicepartner h1{
        padding-top: 50px;
    }
    .partner h1{
        padding-top: 50px;
        font-size: 35px;
    }
    .servicepartner{
        margin-top: 60px;
    }
    .associations{
        margin-top: 60px;
    }
    
}
@media (max-width:1080px){
    .partner p{
        margin-right: 15%;
        width: 100%;
        
    }
    .servicepartner h1{
        padding-top: 50px;
    }
    .partner h1{
        padding-top: 50px;
        font-size: 35px;
    }
    .servicepartner{
        margin-top: 60px;
    }
    .associations{
        margin-top: 60px;
    }
}
.prtimg{
    margin-right: 40px;
}
@media(max-wdith:768px){
    .prtimg{
        margin-right: 400px;
    }
}