footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background:#091a29;
    margin-top: 50px;
    z-index: 1; /* Added z-index to ensure footer is below the navbar */
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
  
    font-weight: 600;
    margin-bottom: 15px;
}
.contact h2{
    color:white;
}
.quicklinks h2{
    color:white; ;
}
footer .container .sec p {
    color: #fff;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
}

footer .container .sci li {
    list-style: none;
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #000;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .container .quicklinks h2 {
    margin-bottom: 15px;
}

footer .container .quicklinks ul li {
    list-style: none;
}

footer .container .quicklinks ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .container .contact .info {
    list-style: none;
    position: relative;
    width: 100%;
}

footer .container .contact h2 {
    margin-bottom: 15px;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
   
}

footer .container .quicklinks .link li a:hover {
    color: #DC143C;
    text-decoration: none;
}

footer .container .contact .info li span {
    color: #fff;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: #fff;
    text-decoration: none;
}
footer .container .contact .info li a:hover {
    color: #DC143C;
    text-decoration: none;

}
.copyrighttext {
    width: 100%;
    background:#05121D;
    padding: 20px 100px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
        margin-left: 10px;
    }
    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrighttext {
        padding: 20px 40px 30px;
margin-left: 10px;
    }
}

@media (max-width: 768px) {
    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .sec{
        margin-top: -10%;
    }
    .sec img{
        margin-bottom: 5%;
    }
    .sec p{
        line-height: 20px;
    }
}